{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NISIA</title>
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Anton|Jura|Niramit|Roboto:200,300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	</head>
	<body class="demo-1">
			
		<nav data-aos="fade-down">
			<!-- AQUI FICA A LOGO (SVG) -->
			<a class="logo-a" href="#home" data-aos="fade-left" data-aos-duration="1000"><img  id="logo logo-btn" src="{% static 'img/logo_mt.svg' %}" alt=""></a>
			<a class="grid-one" onclick="toggleMenu()"></a>

			</div>  
			<ul id="menu-box" class="menu">
				<li data-aos="fade-left" data-aos-duration="1000"><a onclick="toggleMenu()">BLOG</a></li>	
				<li data-aos="fade-left" data-aos-duration="1500"><a href="#project" onclick="toggleMenu()">O PROJETO</a></li>
				<li data-aos="fade-left" data-aos-duration="2000"><a href="#mulheres" onclick="toggleMenu()">PERFIS</a></li>	
				<div class="dropdown">
					<button class="dropbtn" data-aos="fade-left" data-aos-duration="2500">3 PASSOS 
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="#ecossistema" onclick="toggleMenu()">ECOSSISTEMA</a>
					  <a href="#sistema" onclick="toggleMenu()">SISTEMA</a>
					  <a href="#ecos__do__sistema" onclick="toggleMenu()">ECOS DO SISTEMA</a>
					</div>
				</div> 
				<li data-aos="fade-left" data-aos-duration="3000"><a href="#calendario" onclick="toggleMenu()">CALENDÁRIO</a></li>
				<li data-aos="fade-left" data-aos-duration="3000"><a href="#identidade" onclick="toggleMenu()">CONTATO</a></li>
				<a href="#identidade"><button  id="menu__btn" data-aos="fade-left" data-aos-duration="3000" onclick="toggleMenu()">QUERO PARTICIPAR</button></a>	
			</ul>
		</nav>

		<img id="title_nisia" class="content__title" src="{% static 'img/logonisia.svg' %}">


		<main id="home">
		<!--	<a style="position: relative; bottom: 3vw;" onClick="homeAnimation()"><img id="home-btn" src="./img/arrow.svg" alt="" data-aos="zoom-out-up" data-aos-duration="1500"></a> -->
			<p id="patrocinio" style="color: white;">Um projeto em parceria com:</p>
			<i id="logo-patrocinio" class="far fa-eye"></i>
				<div class="content">
					<div class="glitch">
						<div class="glitch__img"></div>
						<div class="glitch__img"></div>
						<div class="glitch__img"></div>
						<div class="glitch__img"></div>
						<div class="glitch__img"></div>
					</div>					
				</div>
		</main>

		<section id="project">

			<img data-aos="fade-up" data-aos-duration="1000" src="{% static 'img/video.png' %}" alt="">

			<div class="project__a">
				<h1 data-aos="fade-up" data-aos-duration="1000">O PROJETO</h1>
				<p class="project-b__p" data-aos="fade-up" data-aos-duration="1500">Nísia é uma comunidade de mulheres na tecnologia, e somos muitas! Somos professoras, empregadoras, gestoras, mentoras, analistas, estudantes e profissionais. O futuro passa pela tecnologia e você já faz parte dessa rede.<br><strong>Vamos escrever esse futuro juntas.</strong></p>
				<a href="#identidade" class="project-b__a" data-aos="fade-up" data-aos-duration="1500"><button class="project-btn">QUERO PARTICIPAR</button></a>
			</div>
		</section>

		<section id="mulheres">
			<div class="mulheres__a">
				<h1 class="mulheres__a__h1" data-aos="fade-up" data-aos-duration="1000">QUAIS PERSONAGENS FAZEM PARTE DA CADEIA DE PRODUÇÃO DE TECNOLOGIA?</h1>
				<p class="mulheres__a__p" data-aos="fade-up" data-aos-duration="1500">Se quisermos que as mulheres realmente tenham voz ativa na tecnologia, é preciso que todos os elos da cadeia do desenvolvimento, operação e criação da tecnologia sejam ocupados. E cada elo depende intimamente de todos os outros.</p>
				<div class="mulheres__a__symbols" data-aos="fade-up" data-aos-duration="1500">
					<img class="mulheres__a__svg" src="{% static 'img/symbols01.svg' %}">
					<img class="mulheres__a__svg" src="{% static 'img/symbols02.svg' %}">
					<img class="mulheres__a__svg" src="{% static 'img/symbols03.svg' %}">
					<img class="mulheres__a__svg" src="{% static 'img/symbols04.svg' %}">
					<img class="mulheres__a__svg" src="{% static 'img/symbols05.svg' %}">
				</div>
			</div>
			<div class="mulheres__b">
				<button id="mulheres__b__a" class="accordion" data-aos="fade-up" data-aos-duration="2000"> <img class="mulheres__a__svg" src="{% static 'img/symbols06.svg' %}"> A ESTUDANTE</button>
				<div class="panel">
					<img src="{% static 'img/malala.png' %}" alt="">	
					<p class="mulheres__b__p__b">Malala Yousafzai é uma ativista paquistanesa. Foi a pessoa mais nova a ser laureada com um prémio Nobel. 
					É conhecida principalmente pela defesa dos direitos humanos das mulheres e do acesso à educação na sua região natal do vale do Swat na província de Khyber Pakhtunkhwa, no nordeste do Paquistão, onde os talibãs locais impedem as jovens de frequentar a escola. Desde então, o ativismo de Malala tornou-se um movimento internacional.</p>
				</div>

				<button id="mulheres__b__b" class="accordion" data-aos="fade-up" data-aos-duration="2000"> <img class="mulheres__a__svg" src="{% static 'img/symbols07.svg' %}"> A PROGRAMADORA</button>
				<div class="panel">
					<img src="{% static 'img/ada.png' %}" alt="">	
					<p class="mulheres__b__p__b">Ada Augusta King, atualmente conhecida como Ada Lovelace, foi uma matemática e escritora inglesa. Hoje é reconhecida principalmente por ter escrito o primeiro algoritmo para ser processado por uma máquina, a máquina analítica de Charles Babbage. Por esse trabalho é considerada a primeira programadora de toda a história.</p>
				</div>

				<button id="mulheres__b__c" class="accordion" data-aos="fade-up" data-aos-duration="2000"> <img class="mulheres__a__svg" src="{% static 'img/symbols08.svg' %}"> A MENTORA</button>
				<div class="panel">
					<img src="{% static 'img/dorothy.png' %}" alt="">	
					<p class="mulheres__b__p__b">Dorothy Johnson Vaughan foi uma matemática estadunidense, que trabalhou na National Advisory Committee for Aeronautics (NACA), a agência predecessora da NASA. Em 1949, ela foi a primeira mulher negra a ser promovida chefe de departamento na NACA.</p>
				</div>

				<button id="mulheres__b__d" class="accordion" data-aos="fade-up" data-aos-duration="2000"> <img class="mulheres__a__svg" src="{% static 'img/symbols09.svg' %}"> A EDUCADORA</button>
				<div class="panel">
					<img src="{% static 'img/nisia.png' %}" alt="">	
					<p class="mulheres__b__p__b">Nísia Floresta Brasileira Augusta foi uma educadora, escritora e poetisa brasileira. Primeira na educação feminista no Brasil, com protagonismo nas letras, no jornalismo e nos movimentos sociais.Defensora de ideais abolicionistas, republicanos e principalmente feministas, de consciência antecipadora para sua época, influenciou a prática educacional brasileira, rompendo limites do lugar social destinado à mulher.</p>
					</div>

				<button id="mulheres__b__e" class="accordion" data-aos="fade-up" data-aos-duration="2000"> <img class="mulheres__a__svg" src="{% static 'img/symbols10.svg' %}"> A EMPREGADORA</button>
				<div class="panel">
					<img src="{% static 'img/susan.png' %}" alt="">	
					<p class="mulheres__b__p__b">Susan Diane Wojcicki é uma executiva do ramo da tecnologia e atual diretora executiva do YouTube. Foi vice presidente sênior de propaganda e comércio no Google e conduziu projetos como o AdWords,  DoubleClick, Google Analytics e AdSense, que se tornou a segunda maior fonte de receita do Google. Tratou de duas das maiores aquisições da Google: a compra do YouTube por 1.65 bilhões de dólares em 2006 e a compra da DoubleClick por 3.1 bilhões de dólares em 2007</p>
			
				</div>
			</div>
		</section>

		<section id="ecossistema">

			<div class="ecossistema__a">
				<div class="ecossistema__content__a">
					<h1 class="ecossistema__title" data-aos="fade-up" data-aos-duration="1500">ECOSSISTEMA</h1>
					<p class="main__text" data-aos="fade-up" data-aos-duration="2000"><span>Não existe a profissional sem a estudante,<br> 
							que não existe sem professora,  <br> 
							que não existe sem a empregadora,  <br>  
							que não existe sem a mentora,   <br> 
							que não existe sem a professora,   <br> 
							que não existe sem a estudante,  <br>  
							que não existe sem a empregadora,   <br>
							que não existe sem a profissional, que hoje existe muito timidamente. <br> <br>  
							</span>

							Somos formação em rede, formação compartilhada, auto-formação de profissionais, mentoras, estudantes e professoras. Aprendemos e crescemos umas com as outras.</p>
				</div>
			</div>
			<div class="ecossistema__b">
				<div class="ecossistema__content__b" data-aos="fade-up" data-aos-duration="2000">
					<h1>QUAL É O PAPEL QUE VOCÊ DESEMPENHA HOJE?</h1>
				</div>
				<div data-aos="fade-up" data-aos-duration="2000">
					<svg id="pp" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 1091.7 1091.7" style="enable-background:new 0 0 1091.7 1091.7;" xml:space="preserve">
			   <line id="path1" class="st0" x1="283.4" y1="138.5" x2="111.7" y2="672.7"/>
			   <circle id="cir" class="st1" cx="288.3" cy="138.2" r="15.5"/>
			   <line id="path2" class="st0" x1="1019.6" y1="669.8" x2="844.5" y2="136.7"/>
			   <line id="path3" class="st0" x1="566.7" y1="1001" x2="1019.6" y2="669.8"/>
			   <line id="path4" class="st0" x1="111.7" y1="672.7" x2="566.7" y2="1001"/>
			   <line id="path5" class="st0" x1="844.5" y1="136.7" x2="283.4" y2="138.5"/>
			   <text id="text1" onclick="rotatePentagon(2)" transform="matrix(1 0 0 1 288.0636 60.9699)" class="st1 st3">A MENTORA</text>
			   <g>
				   <polygon class="st7" points="758.3,184.3 291.9,230.7 192,688.6 596.5,925.1 946.5,613.5 	"/>
				   <polygon class="st7" points="663.5,196.8 274.5,324.7 276,734.2 665.9,859.3 905.3,527.2 	"/>
				   <polygon class="st7" points="593.8,225.7 280.5,399.9 349.4,751.7 705.3,795 856.3,469.9 	"/>
				   <polygon class="st7" points="525.3,270.8 302.3,479 431.3,755.5 734.1,718.2 792.3,418.7 	"/>
			   </g>
			   <g class="st8">
				   <text id="text2" onclick="rotatePentagon(4)" transform="matrix(-0.8076 0.5898 -0.5898 -0.8076 1049.6862 722.519)" class=" st1 st4">A EMPREENDEDORA</text>
			   </g>
			   <g class="st8">
				   <text id="text3" onclick="rotatePentagon(0)" transform="matrix(-0.8109 -0.5852 0.5852 -0.8109 523.4828 1037.5326)" class=" st1 st4">A PROGRAMADORA</text>
			   </g>
			   <g class="st8">
				   <text id="text4" onclick="rotatePentagon(1)" transform="matrix(0.3178 -0.9482 0.9482 0.3178 49.1521 632.1315)" class=" st1 st4">A ESTUDANTE</text>
			   </g>
			   <g class="st8">
				   <text id="text5" onclick="rotatePentagon(3)" transform="matrix(0.3097 0.9508 -0.9508 0.3097 898.7365 124.4901)" class=" st1 st4">A EDUCADORA</text>
			   </g>
			   </svg>
				</div>
			</div>
			<div class="ecossistema__perfis" data-aos="fade-up" data-aos-duration="2000">
				<h2 class="ecossistema__perfis_h2" id="ecossistem__texto">O GIVE BACK.<br><br> <span class="meetings">Repassar aprendizado<br><br>O apoio às iniciativas de base<br><br>O contato empresa-escola<br><br>A retroalimentação do ciclo com a observação dos resultados.</span></h2>
			</div>
		</section>
			
		<section id="sistema">
			<div>
				<div data-aos="fade-up" data-aos-duration="2000">
					<h1 data-aos="fade-up" data-aos-duration="2000">SISTEMA</h1>
					<p class="main__text" data-aos="fade-up" data-aos-duration="2000">
					Nísia é uma comunidade ativa e produtiva com encontros mensais onde são propostos debates, geração de ideias que criação de protótipos. Todo o material produzido é uso livre. Cada encontro é divulgado para toda comunidade e aberto para novas participantes.</strong></p>
				</div>
				
			</div>
			<div id="sistema__b" data-aos="fade-up" data-aos-duration="2000">
				<img class="infografico" src="{% static 'img/info.svg' %}">
				<a href="#calendario"><button>VER CALENDÁRIO</button></a>
			</div>
		</section>	

		<section id="ecos__do__sistema">
			<div class="ecos__do__sistema__title main__text">
					<h1 data-aos="fade-up" data-aos-duration="2000">ECOS<br> DO SISTEMA</h1>
			</div>
			<div class="ecos__do__sistema__b">
				<p class="ecos__do__sistema__main_text" data-aos="fade-up" data-aos-duration="2000">Todo material produzido pela comunidade Nisia será compartilhado e serve como fomento à participação feminina na cadeia de produção da tecnologia. <br><br>
				A produção de Nisia envolve toda a sorte de ideias que suas participantes possam sugerir, entre eles: artigos acadêmicos, materiais áudio-visuais, pesquisas, softwares open source, materiais artísticos, etc... E todos estão disponíveis para consulta e/ou downloads.</p>
				<a href="#identidade"><button class="ecos-btn" data-aos="fade-up" data-aos-duration="2000">QUERO PARTICIPAR</button></a>  
			</div>
			<div class="ecos__media" data-aos="fade-up" data-aos-duration="2000">
					<div>
						<a class="ecos__media__a"><h2>BLOG</h2></a>
					</div>
					<div>
						<a class="ecos__media__a"><h2>DOWNLOADS</h2></a>
					</div>
					<div>
						<a class="ecos__media__a"><h2>VÍDEOS</h2></a>
					</div>
			</div>	
		</section>
				

	
		<section id="calendario">
			<div class="calendario__a" ata-aos="fade-up" data-aos-duration="2000">
				<div class="calendario__sistema">
					<h1 data-aos="fade-up" data-aos-duration="2000">CALENDÁRIO</h1>
					<p data-aos="fade-up" data-aos-duration="2000">Você pode se cadastrar para qualquer um dos eventos de Nísia, acompanhe nosso calendário ao lado e se inscreva!</p>
				</div>
			</div>
			<div class="calendario__b" data-aos="fade-up" data-aos-duration="2000">
				<select name="" id="">
					<option value="">JAN</option>
					<option value="">FEV</option>
					<option value="">MAR</option>
					<option value="">MAI</option>
					<option value="">JUN</option>
				</select>
				
			<svg class="calendar" id="calendario__meses" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 1818.2 1152.1" style="enable-background:new 0 0 1818.2 1152.1;" xml:space="preserve" data-aos="fade-up" data-aos-duration="2000">

				<defs>
					<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Anton|Jura|Niramit|Roboto:200,300,400,700');</style>
				</defs>

		   <style type="text/css">
			.cst0{fill:#FFFFFF;}
			.cst1{font-family:'Roboto-BoldCondensed';}
			.cst2{font-size:48px;}
			.cst3{letter-spacing:10;}
			.cst4{fill:none;stroke:#FFFFFF;stroke-width:7;stroke-miterlimit:10;}
			.cst5{opacity:0.4;}
			.cst6{opacity:0.18;fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
			.cst7{opacity:0.4;fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
		   </style>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 80.2271 208.1519)" class="cst0 cst1 cst2 cst3">JAN</text>
		   </g>
		   <line class="cst4" x1="91.1" y1="238.3" x2="1718.8" y2="238.6"/>
		   <circle class="cst0" cx="89.1" cy="238.3" r="12.5"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 228.3013 208.1528)" class="cst0 cst1 cst2 cst3">FEV</text>
		   </g>
		   <ellipse transform="matrix(0.9999 -1.626744e-02 1.626744e-02 0.9999 -3.8447 3.889)" class="cst0" cx="237.1" cy="238.3" rx="12.5" ry="12.5"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 376.3727 208.1524)" class="cst0 cst1 cst2 cst3">MAR</text>
		   </g>
		   <path class="cst0" d="M402.5,238.6c0.4,6.9-6.9,12.4-16.5,12.2c-9.6-0.2-17.7-6-18.1-12.9c-0.4-6.9,6.9-12.4,16.5-12.2
			   C394,225.9,402.1,231.7,402.5,238.6z"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 524.4453 208.1521)" class="cst0 cst1 cst2 cst3">ABR</text>
		   </g>
		   <ellipse transform="matrix(0.9999 -1.626744e-02 1.626744e-02 0.9999 -3.8055 8.7065)" class="cst0" cx="533.3" cy="238.3" rx="12.5" ry="12.5"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 672.5178 208.1519)" class="cst0 cst1 cst2 cst3">MAI</text>
		   </g>
		   <ellipse transform="matrix(0.9999 -1.626744e-02 1.626744e-02 0.9999 -3.7859 11.1152)" class="cst0" cx="681.3" cy="238.3" rx="12.5" ry="12.5"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 820.5898 208.1525)" class="cst0 cst1 cst2 cst3">JUN</text>
		   </g>
		   <ellipse transform="matrix(0.9999 -1.626744e-02 1.626744e-02 0.9999 -3.7663 13.524)" class="cst0" cx="829.4" cy="238.3" rx="12.5" ry="12.5"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 968.661 208.1525)" class="cst0 cst1 cst2 cst3">JUL</text>
		   </g>
		   <ellipse transform="matrix(0.9999 -1.626744e-02 1.626744e-02 0.9999 -3.7467 15.9327)" class="cst0" cx="977.5" cy="238.3" rx="12.5" ry="12.5"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 1116.733 208.1513)" class="cst0 cst1 cst2 cst3">AGO</text>
		   </g>
		   <ellipse transform="matrix(0.9999 -1.626744e-02 1.626744e-02 0.9999 -3.7271 18.3415)" class="cst0" cx="1125.6" cy="238.3" rx="12.5" ry="12.5"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 1264.8058 208.1524)" class="cst0 cst1 cst2 cst3">SET</text>
		   </g>
		   <ellipse transform="matrix(0.9999 -1.626744e-02 1.626744e-02 0.9999 -3.7075 20.7502)" class="cst0" cx="1273.6" cy="238.3" rx="12.5" ry="12.5"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 1412.8782 208.1526)" class="cst0 cst1 cst2 cst3">OUT</text>
		   </g>
		   <ellipse transform="matrix(0.9999 -1.626744e-02 1.626744e-02 0.9999 -3.6879 23.159)" class="cst0" cx="1421.7" cy="238.3" rx="12.5" ry="12.5"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 1560.9498 208.1518)" class="cst0 cst1 cst2 cst3">NOV</text>
		   </g>
		   <ellipse transform="matrix(0.9999 -1.626744e-02 1.626744e-02 0.9999 -3.6683 25.5677)" class="cst0" cx="1569.8" cy="238.3" rx="12.5" ry="12.5"/>
		   <g>
			   <text style="font-family: Roboto, sans-serif" transform="matrix(0.544 -0.8391 0.8391 0.544 1709.0221 208.152)" class="cst0 cst1 cst2 cst3">DEZ</text>
		   </g>
		   <ellipse transform="matrix(0.9999 -1.626744e-02 1.626744e-02 0.9999 -3.6487 27.9765)" class="cst0" cx="1717.8" cy="238.3" rx="12.5" ry="12.5"/>
		   <g class="cst5">
			   <path class="cst6" d="M238,237.9c0,41.1-33.3,74.4-74.4,74.4S89.2,279,89.2,237.9"/>
			   <path class="cst7" d="M385.8,237.9c0,82-66.4,148.4-148.3,148.4S89.2,319.8,89.2,237.9"/>
			   <path class="cst7" d="M532.6,237.9c0,122.5-99.3,221.9-221.7,221.9S89.2,360.4,89.2,237.9"/>
			   <path class="cst7" d="M681.9,237.9c0,163.8-132.7,296.5-296.3,296.5S89.2,401.7,89.2,237.9"/>
			   <path class="cst7" d="M830.6,237.9c0,204.9-166,371-370.7,371S89.2,442.8,89.2,237.9"/>
			   <path class="cst7" d="M976.6,237.9c0,245.2-198.7,444-443.7,444S89.2,483.1,89.2,237.9"/>
			   <path class="cst7" d="M1125.9,237.9c0,286.5-232.1,518.7-518.3,518.7S89.2,524.4,89.2,237.9"/>
			   <path class="cst7" d="M1273.9,237.9c0,327.4-265.2,592.8-592.4,592.8S89.2,565.3,89.2,237.9"/>
			   <path class="cst7" d="M1422,237.9c0,368.3-298.3,666.9-666.4,666.9S89.2,606.2,89.2,237.9"/>
			   <path class="cst7" d="M1570,237.9c0,409.2-331.5,740.9-740.4,740.9S89.2,647.1,89.2,237.9"/>
			   <path class="cst7" d="M1718,237.9c0,450.1-364.6,815-814.4,815S89.2,688,89.2,237.9"/>
		   </g>
		   </svg>

			<div class="calendario__box">
				<div class="calendario__box__a">
					<h1>MAI</h1>
					<svg height="210" width="500">
  						<line x1="0" y1="0" x2="118" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
					</svg>
				</div>
				<div class="calendario__box__b">
					<div>
						<h2 class="calendario__box__b__data">08/</h2>
						<h2 class="calendario__box__b__titulo">os primeiros passos - os caminhos possíveis. como e por onde começar</h2>
						<p>MASTERTECH <br> 18H</p>
						<button>MAIS</button>
					</div>
					<br>
					<div>
						<h2 class="calendario__box__b__data">08/</h2>
						<h2 class="calendario__box__b__titulo">erradicando tabus: tecnologia sem genero</h2>
						<p>MASTERTECH <br> 18H</p>
						<button>MAIS</button>
					</div>
					<div>
						<h2 class="calendario__box__b__data">08/</h2>
						<h2 class="calendario__box__b__titulo">o mercado de trabalho tradicional, as startups & o profissional freelancer.</h2>
						<p>MASTERTECH <br> 18H</p>
						<button>MAIS</button>
					</div>		
				</div>
				
			</div>

			</div>  
		</section>

		<section id="identidade">
				<div class="identidade__form">
					<div class="identidade__form__a" data-aos="fade-up" data-aos-duration="2000">
						<h1 data-aos="fade-up" data-aos-duration="2000">ONDE VOCÊ ESTÁ <br> NESSE SISTEMA?</h1>
						<p data-aos="fade-up" data-aos-duration="2000">Nós precisamos do seu talento para fortalecer nossa rede. Precisamos da sua força para impactar e inspirar outras mulheres. Vamos moldar o futuro da tecnologia e você pode ser parte disso.  </p>
					</div>		
				</div>
				<div class="identidade__form__b" data-aos="fade-up" data-aos-duration="2000">
                    <form id="registrar" action="/form" style="width: 100%">
                        {% csrf_token %}
                        <div class="identidade__input" style="width: 100%">
                            {{ form.name }}
                            {{ form.email }}
                        </div>
                        <div class="identidade__form__b__a" style="width: 100%">
                            <h2> {{ form.role.label }} </h2>
                            {{ form.role }}
                        </div>

                        <div class="identidade__form__b__c" style="width: 100%">
                            <h2>QUER CONTAR A SUA HISTÓRIA?</h2>
                            <a onclick="history()">
                                <button type="button" id="yes">SIM</button>
                            </a>
                            <a id="no" onclick="deactivateHistory()">
                                <button type="button">NÃO</button>
                            </a>
                            {{ form.story }}
                        </div>

                        <div class="identidade__form__b__b" style="width: 100%">
                            <button onClick="activateModal()">ENVIAR FORMULÁRIO</button>
                        </div>
                    </form>
				</div>

				<div id="modal">
					<h2>Desculpe, nao rolou.</h2>
					<button onClick="closeModal()">FECHAR</button>
				</div>
			</section>
			
		

			<footer>
				<img src="{% static 'img/logo_mt.svg' %}">
				<p>SOMOS ESCOLA, MAS SOMOS OUTRAS COISAS TAMBÉM. <br>
				SOMOS AQUELES QUE EMPODERAM, QUE EMANCIPAM, QUE LIBERTAM. <br>
				SOMOS MOVIMENTO. <br>
				SOMOS O MOVIMENTO. <br>
				SOMOS O QUE MOVIMENTA. <br>
				</p>
				<div class="footer__a">
					<div>
						<i class="fas fa-map-marker-alt"></i>
						<p>AV. PAULISTA, 1374 - BELA VISTA, <br> S Ã O PA U L O - S P, 0 1 3 1 0 - 1 0 0</p>
					</div>
					
					<div>
						<i class="far fa-envelope"></i>
						<p>OI@MASTERTECH.TECH</p>
					</div>
				</div>
				<div class="footer__b">
					<a><i class="fab fa-facebook-f"></i></a>
					<a><i class="fab fa-twitter"></i></a>
					<a><i class="fab fa-instagram"></i></a>
					<a><i class="fab fa-youtube"></i></a>
				</div>
			</footer>


		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script> AOS.init(); </script>

		<script src="https://kit.fontawesome.com/5fbcdb7af0.js"></script>
		<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>		
		<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
		<script src="{% static 'js/demob.js' %}"></script>
		<script src="{% static 'js/accordion.js' %}"></script>
		<script src="{% static 'js/animation.js' %}"></script>
	</body>
</html>
